.boards-index {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.gallery-boards {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-top:0px;
	max-width:1000px;
	// justify-content:center;

	a {
		text-decoration: none;
		text-align:center;
	}

	.small-card {
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction:column;
		background:white;
		width:150px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		margin:5px;

		img {
			width:150px;
			height:210px;
			object-fit:cover;
		}

		p {
			color: $main-color;
			font-family: $main-font;
			margin:5px;

		}
	}
}
.board-view{
	width:100vw;
	display:flex;
	justify-content:center;

	img {
		width:700px;
	}

}

.link-full-screen{
	cursor: pointer;
	text-decoration: none;
	color: $main-color;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	i{
		margin-right: 10px;
		font-size: 1.8rem;
	}
}


.container.modify.board-edit{
	#imgModif{
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: center;
		.link-add-area, .link-see-areas, .link-hide-areas{
			position: fixed;
			cursor: pointer;
			width: 300px;
			text-decoration: none;
			margin-top: 80px;
			color: $main-color;
			font-size: 1.2rem;
			display: flex;
			i{
				margin-right: 10px;
				font-size: 1.8rem;
			}
		}

		.link-add-area{
			-webkit-animation: mymoveright 4s; /* Safari 4.0 - 8.0 */
			animation: mymoveright 4s;
			margin-left: 700px;
			transform: rotate(90deg);
		}
		.link-see-areas, .link-hide-areas{
			display: flex;
			align-items: flex-start;
			margin-right: 700px;
			transform: rotate(270deg);
			span{
				width: 100%;
				text-align: right;
			}
		}
		.link-hide-areas{
			i{
				margin-left: 110px;
			}
		}
		.link-see-areas{
			-webkit-animation: mymoveleft 4s; /* Safari 4.0 - 8.0 */
			animation: mymoveleft 4s;
			i{
				margin-left: 80px;
			}
		}
	}
}

/*=============================================
=            Links areas animation            =
=============================================*/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymoveleft {
	from {margin-right: 1350px}
	to {margin-right: 700px}
}

/* Standard syntax */
@keyframes mymoveleft {
	from {margin-right: 1350px}
	to {margin-right: 700px}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymoveright {
	from {margin-left: 1350px}
	to {margin-left: 700px}
}

/* Standard syntax */
@keyframes mymoveright {
	from {margin-left: 1350px}
	to {margin-left: 700px}
}
/*=====  End of Links areas animation  ======*/
