.content-fullscreen{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: black;

}

.board-fullscreen{
	div.card-body.area{
		padding: 0;
		.exit-fullscreen{
			color: $main-color;
			position: fixed;
			top: 20px;
			right: 20px;
		}
		.areas-full{
			cursor: pointer;

		}
		img{
			position: absolute;
			height: 100%;
		}
	}
}