.contain-header{
	font-family: $main-font;
	width: 100%;
	display: flex;
	justify-content: center;

	div.header-comic{

		width: 51%;
		display: flex;
		flex-direction: column;

		ul.nav-comic{
			padding: 0;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			list-style: none;
			li{
				font-weight: 700;
				cursor: pointer;
				transition: 0.2s;
			}

			li:hover{
				color: $main-color;
				transition: 0.2s;
			}

			.slash{
				color: $main-color;
			}
		}
	}
}
.container.modify{

	div#liste-planches{
		.modal-delete-board{
			display: none;
			position: fixed;
			z-index: 999;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%); /* 50% offset of its own size */
			width: 450px;
			height: 300px;
			background: white;
			border: 20px solid $main-color;
			p{
				font-family: $display-font;
				text-align: center;
				font-size: 1.7em;
				padding: 30px;
			}
			.modal-delete-buttons{
				display: flex;
				justify-content: space-around;
				a{
					// background: $main-color;
					border: 1px solid $main-color; 
					color: $main-color;
					padding: 10px 20px;
					text-decoration: none;
				}
				a:hover{
					background: $main-color;
					color: white;
					padding: 10px 20px;
					text-decoration: none;
				}
			}
		}
		a.delete-liste-planches{
			width: 100%;
			button{
				width: 100%;
				padding: 5px;
				border: none;
				border: 1px solid $main-color;
				background: $main-color;
				color: white;
			}
			button:hover{
				background: white;
				color: $main-color;
			}
		}
	}

	form{
		margin-top: 0;
		font-family: $main-font;
		input{
			padding-left: 10px;
			text-indent: 0;
		}
		input#numero-board{
			padding-left: 10px;
		}
		textarea{
			padding-left: 10px;
			width: 100%;
			height: 150px;
		}
		label, p.label-miniature{
			font-size: large;
			width: 100%;
			font-family: $display-font;
		}

		p.label-miniature{
			margin: 20px 0 10px 0;
		}

		.contain-miniature{

			display: flex;
			align-items: center;

			label.label-browse{
				cursor: pointer;
				margin: 0;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100px;
				height: 50px;
				color: white;
				font-family: $main-font;
				font-size: 14px;
				background: $main-color;
			}
			.inputfile {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}
			span{
				color: $main-color;
				padding:10px 0 0 20px;
				
			}
			span#boarduploadurl{
				padding: 0 0 0 20px;
				margin-top: -25px;
			}
		}
		.btn-outline{
			border: 1px solid $main-color !important;
			background: none;
			color: $main-color;
			cursor: pointer;
			transition: 0.5s;
		}

		button.btn-outline, div.btn-outline{
			// margin: 20px 0px 0px 0px;
			width: 100%;
			margin: 0;
			border: 1px solid $danger-color !important;
			background: $danger-color;
			color: white;
		}

		button.btn-outline:hover, div.btn-outline:hover{
			text-decoration: none;
			border: 1px solid $danger-color !important;
			background: white;
			color: $danger-color;
		}

		.btn-outline:hover{
			border: 1px solid $main-color !important;
			background: $main-color;
			color: white;
			transition: 0.5s;
		}

		#label-board-image{
			margin-bottom: 30px;
		}

		.update-buttons{
			margin-top: 30px;
			width: 100%;
			height: 45px;
			display: flex;
			justify-content: space-between;
			input, a{
				width: 250px;
			}
			.delete{
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}
}
