#sectionListMedia{
	font-family: $main-font;
	text-align: center;

	.medias-pagination{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		ul.pagination{
			margin: 0;
			a, li{
				color: $main-color;
			}
			.page-link:hover{
				background: #fef8d9;
			}
			li.page-item.active{
				span.page-link{
					background: $main-color;
					border-color: $main-color;	
					color: white;
				}
			}
		}
	}

	.modal-delete-media{
		// display: none;
		position: fixed;
		z-index: 999;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%); /* 50% offset of its own size */
		width: 450px;
		height: 267px;
		background: white;
		border: 20px solid $main-color;
		p{
			font-family: $display-font;
			text-align: center;
			font-size: 1.7em;
			padding: 30px;
		}
		.modal-delete-buttons{
			display: flex;
			justify-content: center;
			#delete-board{
				margin-left: 25px;
			}
			#cancel-delete-board{
				margin-right: 25px;
			}
			a{
				// background: $main-color;
				border: 1px solid $main-color; 
				color: $main-color;
				padding: 10px 20px;
				text-decoration: none;
			}
			a:hover{
				background: $main-color;
				color: white;
				padding: 10px 20px;
				text-decoration: none;
			}
		}
	}

	li{
		list-style:none;
	}

	#addMedia{
		margin-left: 8px;
		margin-bottom: 10px;
	}

	.card{
		height: 500px;
		margin:10px 30px;
	}

	.comics_catalog{
		width: 150px;

		div.card-body{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-bottom: 0;
			padding-top: 0;
			.card-text{
				margin-bottom: 10px;
			}

			.card-text.medias{
				margin-bottom: -4px;
				color: #91839c;
			}

			p.card-text.medias:last-of-type{
				margin-bottom: 10px;
			}

			p.card-text.medias.notuse, p.card-text.medias.use{
				padding: 2px;
				margin-top: 5px;
			}

			p.card-text.medias.notuse{
				color: $danger;
			}

			p.card-text.medias.use{
				color: $main-color;
			}

			.card-text, .card-filename{
				font-size: 0.9em;
			}
			.card-filename{
				margin-bottom: 0;
			}

			.card-title{
				font-family: $display-font;
				margin-bottom: 4px;
			}
		}

		a.btn-catalogue.medias{
			width: 150px;
		}

		a.btn-catalogue.medias.used{
			background: #91839c;
			color: white;
			border: 1px solid #91839c;
		}

		a.btn-catalogue.medias.used:hover{
			cursor: default;
			// background: white;
			// color: #91839c;
			// border: 1px solid #91839c;
		}

		img.card-img-top{
			width: 100px;
			height:100px;
			object-fit:cover;
		}

		video,audio{
			height:250px;
			width:100%;
			object-fit:cover;
		}

	}

}