.card-body.area{
	.area-form{
		width: 100%;
		
		.area-form-manage{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin: 20px 0 30px 0;

			#form-tps{
				display: flex;
				align-items: center;
				p{
					margin: 0 0 0 10px;
				}
				input{
					width: 70px;
					margin: 0;
				}
				label{
					margin: 0 10px 5px 0;
				}
			}
			select, input{
				margin-left: 50px;
				height: 47px;
				width: 200px;
			}

			input.btn-outline{
				text-indent: 0;
			}
		}

		div#imgModif{
			padding: 10px;
			div.page{
				margin: 0 31px 0 31px;

				button#clearButton{
					margin: 10px 10px 20px 0;
					border-radius: 0;
				}
			}
		}
	}

}