.container.add-user{
	.card-body{
		padding: 0;
	}
	.page-titles{
		margin: 0;
	}
	form{
		select{
			background: white;
		}
		#btn-register{
			margin-top: 40px;
			background: $main-color;
			border: 1px solid $main-color !important;
		}
		#btn-register:hover{
			background: white;
			color: $main-color;
		}
	}
}