.container.index-users{
	.card-body{
		padding: 0;
		.container.modify.users{	
			padding: 20px 10px;
			display: flex; 
			align-items: center;
			flex-direction: column;
			.card-body.users{
				width: 415px;
				padding: 5px 15px;
				-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
				p{
					margin: 0;
					span{
						color: $main-color;
					}
				}
				i{
					color: $main-color;
				}
			}
			.card-body.users:hover{
				-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
			}
		}
	}
	.page-titles{
		margin: 0;
	}
}
