@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Oswald');
// Body
$body-bg: #f5f8fa;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$display-font: 'Oswald', sans-serif;
$main-font: 'Hind', sans-serif;
$main-color: #ff9315;
$danger-color:#e44949;

body{
	height: 100vh;
}

.display-none{
	display: none!important;
}

.selected-tab{
	color: $main-color;
	font-size: 20px;
}

.copyright{
	width: 100vw;
	position: absolute;
	text-align: center;
	font-size: 0.65rem;
	margin: 40px 0 0 0;
	background: $main-color;
	color: white;
	padding: 15px 0;
}

/*=======================================================
=           To remove dotted outline border            =
=======================================================*/
a, a:active, a:focus, button, button:focus, button:active, .btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
	outline: none !important;
	outline: 0 !important;
}

input::-moz-focus-inner {
	border: 0;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}
/*=====  End of To remove dotted outline border  ======*/