// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import'components/legalmentions';

// Components
@import "components/navbar.scss";
@import "components/eyesLogo.scss";
@import "components/mapping.scss";
@import "components/catalog.scss";
@import "components/update.scss";
@import "components/login.scss";
@import "components/listMedias.scss";
@import "components/navauth.scss";
@import "components/createUpdateComic.scss";
@import "components/boards.scss";
@import "components/board_mapping_create.scss";

//switch 
@import "components/switch.scss";
